# Vscode working folders
.vscode/
.settings/

# IntelIJ working folders
.idea/
*.iml
stale_outputs_checked

# Binnary output
bin/

# npm
node_modules/
package-lock.json

# misc
*.rest
src/Easy/ToDo/database/data.txt
